@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div>
            <button type="button" class="btn btn-dark" href="https://github.com/uink45/Beacon-Chain-Light-Client-Prototype">GitHub</button>
        </div>

        <div>
            @Body
        </div>
    </div>
</div>
